@import '../../utilities/variables';

.footer {
  height: 10rem;
  background: #222;
  text-align: center;
  display: grid;
  place-items: center;
  @media screen and (max-width: 500px) {
    height: 7rem;
  }
}
.footer h4 {
  margin-top: 0.5rem;
  font-size: 1.5rem;
  color: white;
  font-weight: normal;
  text-transform: uppercase;

  @media screen and (max-width: 500px) {
    font-size: 1rem;
  }
}

.footer-links {
  margin: 0 auto 1rem auto;
}
.footer .social-link {
  font-size: 3rem;
  color: white;

  @media screen and (max-width: 500px) {
    font-size: 2rem;
  }
}
.footer .social-link:hover {
  color: $--orange-1;
}
