@import '../../utilities/variables';

.contact {
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 500px) {
    justify-content: center;
    flex-direction: column;
    width: 80%;
  }

  &__image {
    width: 380px;
    margin-right: 50px;

    @media screen and (max-width: 500px) {
      width: 230px;
      margin-right: 0px;
    }
    @media only screen and (max-width: 1440px) and (min-width: 1200px) {
      width: 350px;
      margin-right: 0px;
    }
    img {
      width: 100%;
      object-fit: cover;
    }
  }

  .form {
    width: 400px;
    padding: 85px;

    @media screen and (max-width: 500px) {
      width: 80%;
      padding: 0px;
      margin-top: 60px;
      font-size: 0.8rem;
    }
    @media only screen and (max-width: 1440px) and (min-width: 1200px) {
      width: 25%;
    }

    &__header {
      font-size: 3rem;
      display: inline-block;
      margin-right: 20px;
      color: $--grey-1;

      @media screen and (max-width: 500px) {
        font-size: 2rem;
      }
      @media only screen and (max-width: 1440px) and (min-width: 1200px) {
        font-size: 2.5rem;
      }
    }

    &__group {
      position: relative;
    }

    &__input {
      background: none;
      background-color: white;
      color: grey;
      font-size: 1.8rem;
      padding: 10px 5px 10px 5px;
      display: block;
      width: 100%;
      border: none;
      border-radius: 0;
      border-bottom: 2px solid grey;
      margin: 40px 0;

      @media screen and (max-width: 500px) {
        font-size: 1.5rem;
        margin: 25px 0;
      }
      @media only screen and (max-width: 1440px) and (min-width: 1200px) {
        margin: 28px 0;
      }

      &:focus {
        outline: none;
      }
    }

    &__message {
      background: none;
      background-color: white;
      color: grey;
      font-size: 2.3rem;
      padding: 10px 5px 10px 5px;
      display: block;
      width: 100%;
      border-radius: 10px;
      border: 2px solid grey;
      margin: 60px 0;
      &:focus {
        outline: none !important;
      }

      @media screen and (max-width: 500px) {
        font-size: 2rem;
        margin: 50px 0;
      }
    }

    &__label {
      color: grey;
      font-size: 1.6rem;
      font-weight: normal;
      position: absolute;
      pointer-events: none;
      left: 12px;
      top: 10px;
      transition: 300ms ease all;

      @media screen and (max-width: 500px) {
        font-size: 1.2rem;
      }
    }

    .shrink {
      top: -14px;
      left: 4px;
      font-size: 13px;
      color: black;
    }

    .shrink-text {
      top: -30px;
      left: 4px;
      font-size: 13px;
      color: black;
    }
  }
}

.submit-feedback {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 20px;
  margin-left: 5px;
}
