body {
  font-family: 'Gothic A1', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

$base-color-1: #f2e9e4;
$base-color-2: #c9ada7;
$base-color-3: #9a8c98;
$base-color-4: #4a4e69;
$base-color-5: #22223b;
