body {
  font-family: 'Gothic A1', sans-serif;
}

a {
  text-decoration: none;
  color: #373d3f;
}

ul {
  list-style-type: none;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
